.badge{
    width: 100px;
    height: 100px;
    background-color: #cacaca;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}

.badge .label{
    height: 20px;
    background-color: red;
    color: white;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,-50%);
    border-radius: 40px;
    padding: 1px 5px;
    border: 1px solid white;
}